$bp-md: 600px;
$bp-lg: 1200px;

:root {
   --d: 700ms;
   --e: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
   box-sizing: border-box;
}

body {
   height: 100%;
   overflow-x: hidden;
   max-width: 100%;
}

.btn-mini {
   background-color: transparent;
   border-radius: 5px;
   border: solid 2px darkslateblue;
   padding: 3px 15px;
   width: max-content;
   transition: all ease-in-out .2s;
   user-select: none;

   span {
      color: darkslateblue;
      font-weight: bold;
      letter-spacing: 1px;
   }

   &:hover {
      background-color: darkslateblue;
      transition: all ease-in-out .2s;
      cursor: pointer;

      * {
         cursor: pointer;
      }

      span {
         color: gainsboro !important;
      }
   }

   &.disable {
      border-color: crimson;
      opacity: .25;

      &:hover {
         background-color: transparent;
         cursor: not-allowed;

         span {
            color: crimson !important;
         }

         * {
            cursor: not-allowed;
         }
      }

      span {
         color: crimson;
      }
   }
}

section {
   width: auto;
   margin: 0 auto;
   max-width: $bp-lg;

   &.page-content {
      justify-content: center;
      display: flex;
      padding: 1rem;
      font-family: 'Rubik';
      flex-direction: column;
      flex-wrap: wrap;
      margin-top: -10vh;

      @media (min-width: $bp-lg) {
         flex-direction: row;
      }
   }

   &.broadcast {
      padding: 0 2rem 4rem;

      div.content {
         padding: 2rem;
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         background-color: rgba(220, 20, 60, .05);
         border-radius: 5px;
         border: solid 1px crimson;

         span {
            color: crimson;
            font-size: 25px;
            font-weight: bold;
            text-transform: uppercase;
         }

         p {
            color: crimson;
            margin-top: 1rem;
            line-height: 25px;
         }
      }
   }

   &.news {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 4rem;

      div.articles {

         margin-top: 25px;
         position: relative;

         div.expand-btn {
            position: absolute;
            height: 100%;
            display: flex;
            align-items: center;
            width: auto;
            justify-content: flex-end;
            right: 5%;
            z-index: 100;

            span {
               border-radius: 50%;
               width: 40px;
               aspect-ratio: 1/1;
               display: flex;
               align-items: center;
               justify-content: center;
               box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1), 5px 5px 10px rgba(0, 0, 0, 0.1);
               background-color: white;


               &.return {
                  &:after {
                     transition: transform ease-in-out .8s;
                     transform: rotate(225deg);
                  }
               }

               &:after {
                  transition: transform ease-in-out .8s;
                  content: '';
                  display: block;
                  border: solid 2px black;
                  width: 25%;
                  aspect-ratio: 1/1;
                  transform: rotate(45deg);
                  border-left: transparent;
                  border-bottom: transparent;
               }

               &:hover {
                  transform: scale(1.1);
                  transition: all ease-in-out .2s;
                  cursor: pointer;

                  &:after {
                     cursor: pointer;
                  }
               }
            }
         }

         div.slide {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            transition: all ease-in-out .8s;
            max-width: $bp-lg;

            div.article {
               opacity: 1;
               transition: opacity ease-in-out .8s;
               min-width: calc((100% / 4) - 30px);

               padding-right: 15px;

               div.content {
                  position: relative;
                  display: block;
                  border: solid 1px rgba(0, 0, 0, 0.1);
                  border-radius: 8px;

                  div.image {
                     background-position: center center;
                     background-size: cover;
                     background-repeat: no-repeat;
                     height: 100px;
                     border-top-right-radius: 8px;
                     border-top-left-radius: 8px;
                     position: relative;
                     overflow: hidden;

                     &::after {
                        opacity: .8;
                        content: '';
                        background-image: linear-gradient(to right,
                              rgba(0, 0, 0, 0) 50%,
                              rgba(0, 0, 0, 1) 100%);
                        position: absolute;
                        width: 100%;
                        height: 100%;
                     }
                  }

                  div.text {
                     height: 150px;
                     max-height: 150px;
                     overflow: hidden;
                     overflow-y: auto;

                     &::-webkit-scrollbar-thumb {
                        background-color: rgba(0, 0, 0, 0.2);

                        &:hover {
                           background-color: rgba(0, 0, 0, 0.5);
                        }
                     }

                     span.info {
                        color: white;
                        text-align: right;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 8px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 15px;
                        opacity: .8;
                     }

                     span.title {
                        font-size: 16px;
                        font-weight: bold;
                        text-transform: uppercase;
                        display: block;
                        margin: 15px 25px;
                     }

                     p {
                        display: block;
                        margin: 15px;
                        line-height: 18px;
                        color: rgb(150, 150, 150);
                     }
                  }
               }


            }
         }

      }
   }

   &.rooms {
      display: flex;
      width: auto;
      max-width: $bp-lg;
      margin: 0 auto;
      flex-direction: column;
      align-items: flex-start;
      padding: 2rem 4rem;

      div.rooms-list {
         width: 100%;
         position: relative;
         margin: 25px 0;

         >div {
            display: flex;
            width: inherit;
            justify-content: space-around;
            align-items: center;

            div.col {
               padding: 15px 10px;
               text-align: left;
               flex: 1;

            }

            &.room-caption {
               margin-bottom: 25px;
               border-bottom: solid 1px rgba(0, 0, 0, 0.2);
               font-weight: bold;

               span {
                  letter-spacing: 2px;
               }
            }

            &.room {
               &:nth-child(even) {
                  background-color: rgba(0, 0, 0, 0.05);
               }

               div.col {

                  &:nth-child(5),
                  &:nth-child(6) {
                     span {
                        border-radius: 25px;
                        font-size: 12px;
                        padding: 4px 10px;
                        font-weight: bold;
                        text-transform: uppercase;
                     }
                  }

                  &:nth-child(5) {
                     position: relative;

                     span.access {
                        position: absolute;
                        left: -10%;
                        padding: 0;
                     }

                     // status
                     span {
                        &.started {
                           background-color: orange;
                        }

                        &.finished {
                           background-color: orangered;
                        }

                        &.open-private {
                           // background-color: MediumSlateBlue;
                           background-color: lightgreen;
                        }

                        &.open-public {
                           background-color: lightgreen;
                        }
                     }
                  }

                  &:nth-child(6) {
                     // action
                     text-align: center;

                     span {
                        padding: 0;
                     }
                  }
               }
            }


         }
      }

   }

}

header {
   width: 100%;
   position: relative;
   height: 45vh;

   nav {
      border-bottom: solid 1px rgba(255, 255, 255, 0.2);
      display: flex;
      position: absolute;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 50px;
      padding: 0 25%;
      width: 100%;

      @media screen and (max-width: $bp-lg) {
         left: 5%;
         right: 5%;
      }

      div.item {
         width: 100px;
         text-align: center;

         &.logo {
            flex: 1;
            text-align: left;
            font-size: 2em;

            span {

               text-transform: uppercase;
               font-weight: bold;
            }
         }

         span {
            text-transform: uppercase;
            color: white;
            opacity: .8;
            font-size: .8em;

            &:hover {
               opacity: 1;
            }
         }
      }
   }

   div.main-head {
      height: 50vh;
      position: relative;
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.5);

      div.background {
         z-index: -1;
         height: 100%;
         background-image: url("/medias/assets/background/bg1.png");
         position: relative;
         background-repeat: no-repeat;
         background-position: bottom center;
         background-size: cover;
      }

      div.hero {
         height: 80%;
         position: absolute;
         top: 0;
         width: 100%;

         div.content {
            width: auto;
            max-width: $bp-lg;
            padding: 2rem 4rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            justify-content: center;
            margin: 0 auto;

            h1 {
               opacity: .8;
               color: white;
               font-size: 5em;
               font-weight: 100;
               font-family: 'Mollie';
            }

            p {
               margin-top: 10px;
               width: 75%;
               opacity: .6;
               line-height: 25px;
               color: white;
            }
         }

      }
   }
}



.card {
   width: 300px;
   margin: 25px;
   position: relative;
   display: flex;
   flex: auto;
   align-items: flex-end;
   overflow: hidden;
   padding: 1rem;
   text-align: center;
   color: whitesmoke;
   background-color: whitesmoke;
   box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
      0 2px 2px rgba(0, 0, 0, 0.1),
      0 4px 4px rgba(0, 0, 0, 0.1),
      0 8px 8px rgba(0, 0, 0, 0.1),
      0 16px 16px rgba(0, 0, 0, 0.1);

   transition: transform ease-in-out .2s;

   &:hover {
      transform: scale(1.01) translateY(-5px);
      transition: transform ease-in-out .2s;
   }

   @media (min-width: $bp-md) {
      height: 350px;
   }

   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      background-size: cover;
      background-position: 0 0;
      transition: transform calc(var(--d) * 1.5) var(--e);
      pointer-events: none;

      background-position: center center;
   }

   &:after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 200%;
      pointer-events: none;
      background-image: linear-gradient(to bottom,
            hsla(0, 0%, 0%, 0) 0%,
            hsla(0, 0%, 0%, 0.009) 11.7%,
            hsla(0, 0%, 0%, 0.034) 22.1%,
            hsla(0, 0%, 0%, 0.072) 31.2%,
            hsla(0, 0%, 0%, 0.123) 39.4%,
            hsla(0, 0%, 0%, 0.182) 46.6%,
            hsla(0, 0%, 0%, 0.249) 53.1%,
            hsla(0, 0%, 0%, 0.320) 58.9%,
            hsla(0, 0%, 0%, 0.394) 64.3%,
            hsla(0, 0%, 0%, 0.468) 69.3%,
            hsla(0, 0%, 0%, 0.540) 74.1%,
            hsla(0, 0%, 0%, 0.607) 78.8%,
            hsla(0, 0%, 0%, 0.668) 83.6%,
            hsla(0, 0%, 0%, 0.721) 88.7%,
            hsla(0, 0%, 0%, 0.762) 94.1%,
            hsla(0, 0%, 0%, 0.790) 100%);
      transform: translateY(-50%);
      transition: transform calc(var(--d) * 2) var(--e);
   }

   .content {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 1rem;
      transition: transform var(--d) var(--e);
      z-index: 1;

      >*+* {
         margin-top: 1rem;
      }

      .title {
         font-size: 1.3rem;
         font-weight: bold;
         color: whitesmoke;
         line-height: 1.2;
         text-transform: uppercase;
         font-family: 'Rubik';
         letter-spacing: 3px;
         text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
            0 2px 2px rgba(0, 0, 0, 0.1),
            0 4px 4px rgba(0, 0, 0, 0.1),
            0 8px 8px rgba(0, 0, 0, 0.1),
            0 16px 16px rgba(0, 0, 0, 0.1);
      }

      .copy {
         font-size: 1.11rem;
         line-height: 1.35;
         color: whitesmoke;
      }

      a.btn {
         cursor: pointer;
         margin-top: 1.5rem;
         padding: 0.75rem 1.5rem;
         font-size: 0.65rem;
         font-weight: bold;
         letter-spacing: 0.025rem;
         text-transform: uppercase;
         color: whitesmoke;
         background-color: transparent;
         border: solid 3px whitesmoke;
         font-weight: bold;

         &:hover {
            background-color: transparent;
            color: whitesmoke !important;
         }
      }
   }

   &.moongo:before {
      background-image: url('/medias/assets/games/moongo/game-image.jpg');
      background-position: bottom center;
   }

   &.catane:before {
      background-image: url('/medias/assets/games/catane/game-image.jpg');
   }

   &.splendor:before {
      background-image: url('/medias/assets/games/splendor/game-image.jpg');
   }

   &.portfolio:before {
      background-image: url('/medias/assets/base/portfolio.jpg');
   }
}





@media (hover: hover) and (min-width: $bp-md) {
   .card {
      margin: 25px;
      width: 300px;

      &:after {
         transform: translateY(0);
      }

      .content {
         transform: translateY(calc(100% - 4.5rem));

         >*:not(.title) {
            opacity: 0;
            transform: translateY(1rem);
            transition:
               transform var(--d) var(--e),
               opacity var(--d) var(--e);
         }
      }

      &:hover,
      &:focus-within {
         align-items: center;

         &:before {
            transform: translateY(-4%);
         }

         &:after {
            transform: translateY(-50%);
         }

         .content {
            transform: translateY(0);

            >*:not(.title) {
               opacity: 1;
               transform: translateY(0);
               transition-delay: calc(var(--d) / 8);
            }
         }
      }

      &:focus-within {

         &:before,
         &:after,
         .content,
         .content>*:not(.title) {
            transition-duration: 0s;
         }
      }
   }
}