@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Ubuntu+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Rubik:wght@700&display=swap");

:root {
   --color-red: #fa4747;
   --color-red-dark: #a31313;
   --color-red-light: #ff7373;
   --color-green: #85e625;
   --color-green-dark: #396e03;
   --color-green-light: #aceb6e;
   --color-blue: #1298FF;
   --color-blue-dark: #0B5A97;
   --color-blue-light: #34a0f3;
   --color-yellow: #fffb12;
   --color-yellow-dark: #ddbb23;
   --color-yellow-light: #fffc5b;
   --color-pink: #fc5dfc;
   --color-pink-dark: #a340a3;
   --color-pink-light: #ed93ff;
   --color-purple: #4b195d;
   --color-purple-dark: #2e0f39;
   --color-purple-light: #894b96;
   --color-orange: #ff9900;
   --color-orange-dark: #bd7100;
   --color-orange-light: #ffb657;
   --color-beige: #dab7ae;
   --color-beige-dark: #ae847e;
   --color-beige-light: #fff0db;
   --color-grey: #7a7a7a;
   --color-grey-light: #dddddd;
   --color-grey-dark: #3a3a3a;
   --color-white: #fcfcfc;
   --color-light: #ffffff;
   --color-black: #030303;
   --color-dark: #131313;
   --primary-color: var(--color-red);
   --primary-color-dark: var(--color-red-dark);
   --sprimary-color: var(--color-red-light);
   --secondary-color: var(--color-dark);
   --secondary-color-dark: var(--color-dark)
}

*, *::after, *::before {
   margin: 0;
   padding: 0;
   cursor: default;
   scrollbar-width: thick;
   scrollbar-color: var(--secondary-color) transparent;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   -ms-box-sizing: border-box;
   -o-box-sizing: border-box;
   box-sizing: border-box;
   font-family: 'Cabin', sans-serif;
   color: var(--color-black)
}

html {
   scroll-behavior: smooth;
   -webkit-font-smoothing: antialiased
}

body {
   margin: 0 auto
}

a {
   text-decoration: none
}

::-moz-selection {
   color: var(--primary-color);
   background: var(--secondary-color)
}

::selection {
   color: var(--primary-color);
   background: var(--secondary-color)
}

*::-webkit-scrollbar {
   width: 2px;
   height: 2px
}

*::-webkit-scrollbar-track {
   background: transparent
}

*::-webkit-scrollbar-thumb {
   opacity: .5;
   background: var(--primary-color);
   border-radius: 5px;
   border: none
}

*::-webkit-scrollbar-thumb:hover {
   background: var(--primary-color)
}

::placeholder {
   opacity: .8
}

h1 {
   font-family: 'Rubik', cursive
}

h2 {
   font-family: 'Rubik', sans-serif
}

h4 {
   font-family: 'Rubik', sans-serif
}

h5 {
   font-family: 'Rubik', sans-serif
}

a {
   transition: all .2s ease;
   color: var(--primary-color);
   text-decoration: none
}

a:hover {
   color: var(--sprimary-color) !important;
   text-decoration: none !important;
   transition: all .2s ease;
   -webkit-cursor: pointer;
   -moz-cursor: pointer;
   -ms-cursor: pointer;
   -o-cursor: pointer;
   cursor: pointer
}

.hidden {
   display: none !important
}

.content {
   -webkit-display: flex;
   -moz-display: flex;
   -ms-display: flex;
   -o-display: flex;
   display: flex;
   align-items: center
}

.content .row {
   display: inherit;
   flex-direction: row;
   align-items: baseline;
   height: 100%
}

.content .row .col {
   height: 100%
}

ul {
   list-style-type: none
}

.d-none {
   display: none !important
}

.white-space {
   white-space: nowrap
}

.image {
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center center
}

.max-height {
   height: 100% !important
}

b {
   color: var(--color-dark);
   font-weight: bold;
   font-family: inherit
}

@font-face {
   font-family: "Anurati";
   src: url("../medias/fonts/anurati.otf")
}

@font-face {
   font-family: "Mollie";
   src: url("../medias/fonts/Mollie-Glaston.otf")
}

@font-face {
   font-family: "Raginy";
   src: url("../medias/fonts/Raginy-Regular.otf")
}

i.ico {
   display: inline-block;
   width: 24px;
   height: 24px;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: contain
}

i.ico.pr-denied.s-64 {
   background-image: url("/medias/assets/icons/denied/denied_64.png")
}

i.ico.pr-denied.s-256 {
   background-image: url("/medias/assets/icons/denied/denied_256.png")
}

i.ico.pr-denied.s-512 {
   background-image: url("/medias/assets/icons/denied/denied_512.png")
}

i.ico.pr-warning.s-64 {
   background-image: url("/medias/assets/icons/warning/warning_64.png")
}

i.ico.pr-warning.s-256 {
   background-image: url("/medias/assets/icons/warning/warning_256.png")
}

i.ico.pr-warning.s-512 {
   background-image: url("/medias/assets/icons/warning/warning_512.png")
}

i.ico.pr-info.s-64 {
   background-image: url("/medias/assets/icons/info/info_64.png")
}

i.ico.pr-info.s-256 {
   background-image: url("/medias/assets/icons/info/info_256.png")
}

i.ico.pr-info.s-512 {
   background-image: url("/medias/assets/icons/info/info_512.png")
}

i.ico.pr-poop.s-64 {
   background-image: url("/medias/assets/icons/poop/poop_64.png")
}

i.ico.pr-poop.s-256 {
   background-image: url("/medias/assets/icons/poop/poop_256.png")
}

i.ico.pr-poop.s-512 {
   background-image: url("/medias/assets/icons/poop/poop_512.png")
}

i.ico.pr-medals-1st.s-64 {
   background-image: url("/medias/assets/icons/medals/1st_64.png")
}

i.ico.pr-medals-1st.s-256 {
   background-image: url("/medias/assets/icons/medals/1st_256.png")
}

i.ico.pr-medals-1st.s-512 {
   background-image: url("/medias/assets/icons/medals/1st_512.png")
}

i.ico.pr-medals-2nd.s-64 {
   background-image: url("/medias/assets/icons/medals/2nd_64.png")
}

i.ico.pr-medals-2nd.s-256 {
   background-image: url("/medias/assets/icons/medals/2nd_256.png")
}

i.ico.pr-medals-2nd.s-512 {
   background-image: url("/medias/assets/icons/medals/2nd_512.png")
}

i.ico.pr-medals-3nd.s-64 {
   background-image: url("/medias/assets/icons/medals/3nd_64.png")
}

i.ico.pr-medals-3nd.s-256 {
   background-image: url("/medias/assets/icons/medals/3nd_256.png")
}

i.ico.pr-medals-3nd.s-512 {
   background-image: url("/medias/assets/icons/medals/3nd_512.png")
}

i.ico.pr-social-instagram.s-64 {
   background-image: url("/medias/assets/icons/social/instagram_64.png")
}

i.ico.pr-social-instagram.s-256 {
   background-image: url("/medias/assets/icons/social/instagram_256.png")
}

i.ico.pr-social-instagram.s-512 {
   background-image: url("/medias/assets/icons/social/instagram_512.png")
}